body {
    margin: 0;
    font-family: Arial;
    background: #f5f7fb;
    color: #000;
}

/* 🌙 DARK MODE */
body.dark {
    background: #121212;
    color: #fff;
}

/* Container */
.container {
    padding: 15px;
    margin-bottom: 70px;
}

/* Cards */
.card {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

body.dark .card {
    background: #1e1e1e;
}

/* Forms */
input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

body.dark input,
body.dark select {
    background: #2a2a2a;
    color: white;
    border: 1px solid #444;
}

/* Button */
button {
    background: #2d89ef;
    color: white;
    border: none;
}

/* Colors */
.green { color: #4caf50; }
.red { color: #ff5252; }

/* NAV */
.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-around;
    padding: 8px 0;
    border-top: 1px solid #ccc;
}

body.dark .nav {
    background: #1e1e1e;
    border-top: 1px solid #333;
}

.nav a {
    text-decoration: none;
    color: #555;
    font-size: 12px;
    text-align: center;
}

body.dark .nav a {
    color: #ccc;
}

.nav i {
    display: block;
    font-size: 18px;
}


/* 🌙 Floating Dark Mode Button */
.toggle-btn {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2d89ef;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
}

/* Charts */
.chart-container {
    width: 100%;
    max-width: 300px;
    margin: auto;
}

.chart-container canvas {
    width: 100% !important;
    height: auto !important;
}

/* Headings */
.card h3 {
    margin-bottom: 10px;
}
.cards {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.card.income { background: #d4edda; }
.card.expense { background: #f8d7da; }
.card.balance { background: #d1ecf1; }

.transaction {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}